    <section id="topheader">
        <div id="hh">
            <div class="col-lg-6 col-md-6 col-sm-4 col-xs-11">
                <div class="col-inner-hori">
                    <h1><a href="../" id="logo-main" class="history" alt="" title="">C◦mp◦se&nbsp;</a></h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-1">
                <ul class="sections nav nav-pills nav-justified">
                    <li class="hidden-xs"><a href="../index.html#topics" class="smoothScroll">Speakers</a></li>
                    <li class="hidden-xs"><a href="../index.html#program" class="smoothScroll">Program</a></li>
                    <li class="hidden-xs"><a href="/sponsors/index.html" class="smoothScroll">Sponsors</a></li>
                    <li class="hidden-xs"><a href="../unconference/index.html" class="smoothScroll">Unconference</a></li>
                    <li class="dropdown hidden-xs">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Attendees <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="../info/index.html#travel" class="smoothScroll">Travel</a></li>
                        <li><a href="/conduct/" class="smoothScroll">Policies</a></li>
                        <li><a href="../info/index.html#volunteer" class="smoothScroll">Volunteer</a></li>
                        <li class="divider"></li>
                        <li><a href="/jobs" class="smoothScroll">Job Board</a></li>
                        <li class="divider"></li>
                        <li><a href="../call/index.html" class="smoothScroll">CFP</a></li>
                      </ul>
                    </li>
                    <li>
                        <!-- Menu -->
                        <!--nav class="menu" id="theMenu">
                            <div class="menu-wrap">
                                <h1 class="logo"><a href="index.html#home">C◦mp◦se</a></h1>
                                <i class="fa fa-times menu-close"></i>
                                <a href="../#about" class="smoothScroll">About</a>
                                <a href="#" class="smoothScroll">Submit</a>
                                <!-- <a href="http://meetup.com/ny-haskell" class="smoothScroll">Register</a> --

                                <div class="visible-xs">
                                    <a href="../call/index.html">CFP</a>
                                    <a href="../index.html#topics" class="smoothScroll">Speakers</a>
                                    <a href="../index.html#program" class="smoothScroll">Program</a>
                                    <a href="../unconference/index.html">Unconference</a>
                                    <a href="../sponsors/index.html" class="smoothScroll">Sponsors</a>
                                    <a href="../conduct/index.html">Policies</a>
                                </div>

                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-envelope"></i></a>
                            </div>

                            <!-- Menu button -->
                            <!-- <div id="menuToggle"><i class="fa fa-bars"></i></div> -->
                        <!-- </nav> -->
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </section>
