---
layout: compress
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body data-spy="scroll" data-offset="0" data-target="#theMenu">
 <div id="wrap">

    {% include header2016.html %}


    <div class="sep portfolio" data-stellar-background-ratio="0.5"></div>

	<! -- Sponsor SECTION -->
	<section id="about" name="conduct"></section>
	<div id="aboutwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
		        <h1>Jane Steet</h1>
                <p>
                    <b>About Jane Street:</b>
                </p>
                <p>
                    Jane Street is a quantitative trading firm with a unique focus on technology, a scientific approach, and a deep understanding of markets to guide our business. Our entrepreneurial culture is driven by our talented team of traders and programmers. We are a global liquidity provider and market maker, operating around the clock and around the globe, employing over 400 people in our offices in New York, London and Hong Kong. 
                </p>
                <p>
                    The markets change rapidly, and we need to change faster still. Every day, we come to work with new problems to solve, new systems to build and new theories to test.  We’re always looking for people to join us and help come up with that next great idea. Our trading is based on our own proprietary models and on busy days we engage in over a million trades. Technology is at the core of how we approach trading, and we consider ourselves as much a technology company as a trading firm. We use OCaml, a statically-typed functional programming language, as our primary development language, and have the largest team of OCaml developers in any industrial setting.                 
                </p>
                <p>
                    You can learn more about Jane Street and our technology from our main website (<a href="http://janestreet.com">http://janestreet.com</a>). You can also look at a talk given at CMU about why Jane Street uses functional programming (<a href="http://ocaml.janestreet.com/?q=node/61">http://ocaml.janestreet.com/?q=node/61</a>). 
                </p>
		      </div>
			</div><! --/row -->

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3>Job Descriptions</h3>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>
                        Jane Street is looking to hire great software developers and quantitative researchers with an interest in functional programming.
                    </p>
                    <p>
                        <b>Software Developers:</b>
                    </p>
                    <p>
                        OCaml, a statically typed functional programming with similarities to Haskell, Scheme, Erlang, F# and SML, is our language of choice.  We use OCaml for running our entire business, supporting everything from research to systems administration to trading systems. If you're interested in seeing how functional programming plays out in the real world, there's no better place.
                    </p>
                    <p>
                        <b>Quantitative Researchers:</b>
                    </p>                    
                    <p>
                        The research group at Jane Street builds models and systems for pricing and trading financial assets. Though our work is mathematically motivated, we spend most of our time coding--building systems to analyze large volumes of data, and studying and tuning our trading systems. We are looking for candidates with exceptional mathematical aptitude and hacking ability. We work mostly in OCaml, but it's fine if you have zero prior OCaml experience.
                    </p>
                    <p>
                        <b>Interested in applying?</b><br />
                        Simply submit your information and resume through our web application page, <a href="https://www.janestreet.com/join-jane-street/apply/">https://www.janestreet.com/join-jane-street/apply/</a>
                    </p>
                </div>
            </div>
            <hr style="color: #ddd; border-color: #ddd; border-style:dotted" />
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>
                        <a href="/jobs">
                        <i class="fa fa-arrow-left"></i>
                    Back to job listings
                        </a>
                    </p>
                </div> 
            </div>
            <hr style="color: #ddd; border-color: #ddd; border-style:dotted" />
		</div><! --/container -->
	</div><! --/servicewrap -->

{% include footer.html %}
  </body>
</html>
