---
layout: compress
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <body{% if page.klasa %} class="{{ page.klasa }}"{% endif %}>
    {% include header2016.html %}
        <div class="wrapper">
        <div class="site-content clearfix" role="main">

        <div class="wrapper">
            <div class="container">
                <div class="row">

                    <article class="page"> 

                      <div class="entry">
                        {{ content }}

<div class="col-lg-12 col-md-12 col-sm-12 centered">
  <!-- <h1>February 4-5, 2016</h1> -->
  <h3>JP Morgan Chase</h3>
  <p>4 MetroTech Center <br>
     Brooklyn, NY <br>
  </p>
</div>
<br/>

                        <section id="map" name="map"></section>
                        <div id="mapwrap">
                          <div class="container">
                            <div class="row mt">
                              <div id="map-canvas" style="width: 100%; height: 400px;"></div>
                            </div>
                          </div>
                        </div>

<h1>Registration</h1>

<div class="col-lg-6 col-md-6 col-sm-6">
  <table class="table table-bordered">
    <tbody><tr><th>Ticket</th><th>Cost</th></tr>
      <tr><td>Individual (Early Bird)</td><td>$64.29 <em>Price ends Jan 1, 2016</em></td></tr>
      <tr><td>Individual (Regular)</td><td>$95.94</td></tr>
      <tr><td>Corporate</td><td>$127.59</td></tr>
    </tbody>
  </table>
<a href="http://composeconference.eventbrite.com">composeconference.eventbrite.com</a>
</div>

                      </div>
                    </article>

                </div>
            </div>
        </div><!-- /aboutwrap -->

        </div>
        </div>
    {% include footer.html %}
  </body>

<script type="text/javascript">
  function initialize() {
      var mapOptions = {
        center: { lat: 40.6928712, lng: -73.986036},
        zoom: 18
      };

      var iconURLPrefix = 'http://maps.google.com/mapfiles/ms/icons/';
      var markers = new Array();
      var marker;

      var map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);


      marker = new google.maps.Marker({
        position: new google.maps.LatLng(40.6928712, -73.986036),
        map: map,
        icon : iconURLPrefix + 'red-dot.png',
    });

      marker = new google.maps.Marker({
        position: new google.maps.LatLng(40.6928712, -73.986036),
        map: map,
        icon : iconURLPrefix + 'red-dot.png',
    });

    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>
</html>
